/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.btn {
    font-family: inherit;
    padding: 11px 15px;
    border: none;

}

.btn.blue:hover {
    background-color: rgba(0, 89, 255, 0.7);
}

.btn.white:hover {
    background-color: rgba(240, 240, 240, 0.9);
}

.btn.blue {
    font-size: 16px;
    color: white;
    background-color: #0061ff;

}

.btn.transparent {
    background-color: transparent;
    font-size: 16px;
    padding: 0;
}

.btn.white {
    background-color: white;
    font-size: 16px;
    border: 1px solid black;
}

.container-xl {
    max-width: 1200px;
}

.container-regular {
    max-width: 1000px;
}

.container-xxl {
    max-width: 1920px;
}

.container-regular,
.container-xl,
.container-xxl {
    margin: 0 auto;
}

.btn.blue a {
    color: #fff;
}

.btn.transparent a,
.btn.white a {
    color: black;
}

/* Typo */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

p {
    line-height: 25px;
}

a {
    color: rgb(4, 0, 255);
}

.link-decoration {
    text-decoration: underline;
    color: blue;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.nav-bar nav ul,
header nav {
    display: flex;
    gap: 35px;
    align-items: center;
}

header img {
    vertical-align: middle;
    width: 100%;
}

/* Animation links */
header a {
    position: relative;
    color: black;
}

header a::after {
    content: ' ';
    position: absolute;
    bottom: -32px;
    background: blue;
    left: 0;
    width: 0;
}

header a:hover::after {
    height: 4px;
}

header a:not(#logo, #btn):hover::after {
    width: 100%;
    transition: width 0.3s;
}


/* Main */

/* Jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    width: 100%;
}

.jumbotron {
    padding-top: 10px;
}

.jumbotron .content {
    margin-top: 40px;
}

section h1 {
    transform: translateY(100px);
    color: black;
    font-size: 80px;
    font-family: 'Archivo Black', Arial, sans-serif;
}

.jumbotron .colonne {
    display: flex;
    margin-top: 80px;
    align-content: flex-start;
    justify-content: center;
}

.jumbotron .col-left {
    padding-top: 80px;
}

.jumbotron .col-right>img {
    width: 100%;
    display: block;
    transform: translateY(80px);
}

.jumbotron .col-right {
    width: 200vw;
}

.jumbotron .arrow-down {
    font-size: 50px;
}

.jumbotron .arrow-down a {
    color: black;
}

.box-btn {
    margin: 0 140px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-btn .btn {
    margin-top: 30px;
}

section .col-left .btn.transparent {
    text-align: left;
}

/* /Jumbotron */

/* Second Section */
.second-section {
    padding-top: 200px;
}

.second-section .input {
    padding: 50px 0;
    display: flex;
    gap: 50px;
}

/* Cards */
.second-section .card {
    border: 1px solid #d0d0d3;
    width: calc(29%);
    margin: 23px;
}

.second-section .card.last {
    flex-grow: 1;
}

.second-section .row.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -31px;
    font-size: 14px;
}

.second-section .card.last .center-card p {
    margin-top: 70px;
}

/* Inside Card */
.second-section .inside-card {
    padding: 30px;
}

.second-section .inside-card>div {
    padding-bottom: 10px;
}

.second-section .category {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px;
}

.card h3 {
    font-size: 25px;
    font-weight: 700px;
}

/* Parte superiore inside card*/
.card .start-card .mese {
    color: #666666;
}

.card.last .inside-card {
    display: flex;
    justify-content: space-between;
}

/* Parte centrale inside card */
.center-card .hr-sm {
    width: 15%;
    color: #fbfbfc;
    margin: 40px 0;
}

.user,
.storage,
.share {
    padding-right: 10px;
}

.description {
    display: flex;
    align-self: flex-start;
}

.description>span {
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
}

.description p {
    margin-bottom: 25px;
}

.start-card,
.center-card {
    line-height: 50px;
}

.card .center-card .btn.blue {
    width: 100%;
    margin: 20px 0px;
}

/* Parte finale Inside Card */
.end-card li {
    margin-top: 20px;
}

.card li::before {
    content: "\f00c";
    color: #0063ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-right: 5px;
}

/* /Seconda Section */

/* Terza Section */
.terza-section {
    margin-top: 150px;
    display: flex;
}

.terza-section h3 {
    font-size: 25px;
}

.terza-section img {
    width: 100%;
    display: block;
}

.terza-section .col-left {
    flex-grow: 2;
}

.terza-section .col-right {
    padding: 50px 0 0 50px;
    flex-shrink: 1.5;
}

.terza-section .col-right p {
    padding: 30px 0;
}

/* /Terza Section */
/* Quarta Section */
.quarta-section {
    margin-top: 150px;
    margin-bottom: 30px;
}

.quarta-section img {
    width: 100%;
}

.quarta-section .container-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -31px;
    font-size: 15px;
}

.quarta-section .card {
    width: calc(29%);
    margin: 23px;
}

.quarta-section img {
    width: 100%;
}

/* /Quarta Section */

/* Quinta Section */
.quinta-section .container-regular {
    padding: 100px 0 100px 0;
}

.quinta-section h2 {
    padding-bottom: 50px;
}

.quinta-section .container-xxl {
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
}

.quinta-section .col-left,
.quinta-section .col-center,
.quinta-section .col-right {
    width: calc(100%/3);
}

.quinta-section .col-left,
.quinta-section .col-right {
    display: flex;
    flex-wrap: wrap;
}

/* Colonna sinistra */
.quinta-section .col-left .box.one {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.quinta-section .col-left .box.two {
    background-color: #61082b;
}

.quinta-section .col-left .box.three {
    background-color: #0093ce;
}

.quinta-section .col-left .box.four {
    background-color: #ff1c1c;
}

.quinta-section .box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 30vh;
}

.quinta-section .box img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

/* Colonna Centrale */
.quinta-section .col-center {
    padding: 50px;
    background-color: #f5f5f5;
}

.quinta-section .col-center img {
    width: 25vh;
    display: block;
}

.quinta-section .col-center .hr-sm {
    width: 20%;
    color: #fbfbfc;
    margin: 40px 0;
}

.quinta-section .col-center p {
    margin-top: 50px;
}

/* Colonna destra */
.quinta-section .col-right .box.one {
    background-color: #d5001f;
}

.quinta-section .col-right .box.two {
    background-color: #b4d0e7;
}

.quinta-section .col-right .box.three {
    background-color: #0d2481;
}

.quinta-section .col-right .box.four {
    background-color: #ffd830;
}

/* /Quinta Section */
/* Sesta Section */
.sesta-section {
    background-color: #b4d0e7;
}

.sesta-section .btn.white {
    border: none;
}

.sesta-section .btn.white a {
    color: black;
}

.sesta-section .container-regular {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 150px 0;
}

.sesta-section h2 {
    color: #61082b;
}

/* /Sesta Section */
/* Settima Section */
.settima-section {
    padding: 160px 0;
}

.settima-section h2 {
    padding-bottom: 80px;
}

.settima-section .dropdown.icon {
    font-size: 15px;
    padding: 0 50px;
}

.settima-section p {
    padding: 20px 0;
}

.settima-section .domanda {
    display: none;
}

.settima-section label p {
    font-weight: 700;
}

.settima-section label {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
    align-items: center;
}

.settima-section label:nth-child(even) {
    border-top: 1px solid rgb(85, 85, 85);
}

.settima-section .row.three {
    border-bottom: 1px solid rgb(85, 85, 85);
}

.risposta {
    display: flex;
    overflow: hidden;
    max-height: 0px;
}

input:checked+label+.risposta {
    overflow: hidden;
    max-height: 500px;
    padding: 3px;
}

/* /Settima Section */
/* Footer */

footer{
    background-color: black;
    width: 100%;
}
footer .hr-medium{
    width: 10%;
    color: red;
    margin: 100px 0 50px 0;
}
footer .grey{
    color: grey;
    padding-bottom: 50px;
}

footer .row{
    display: flex;
    flex-wrap: wrap;
}
footer .row, footer a{
    color: white;
}
footer .box{
    width: 20%;
    margin-top: 90px;
}

footer h4{
    font-size: 25px;
    padding-bottom: 20px;
}

footer a{
    line-height: 40px;
}