/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.btn {
    font-family: inherit;
    padding: 11px 15px;
    border: none;
}

.btn.blue {
    font-size: 16px;
    color: white;
    background-color: #0061ff;

}

.btn.transparent {
    background-color: transparent;
    font-size: 16px;
    padding: 0;
}
.btn.white{
    background-color: white;
    font-size: 16px;
    border: 1px solid black;
}
.container-xl {
    max-width: 1200px;
}
.container-regular{
    max-width: 1000px;
}
.container-xxl {
    max-width: 1920px;
}
.container-regular,.container-xl,.container-xxl{
    margin: 0 auto;
}
.btn.blue a {
    color: #fff;
}

.btn.transparent a, .btn.white a{
    color: black;
}

/* Typo */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

p {
    line-height: 25px;
}

a {
    color: grey;
}

.link-decoration {
    text-decoration: underline;
    color: blue;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.nav-bar nav ul,
header nav {
    display: flex;
    gap: 35px;
    align-items: center;
}

header img {
    vertical-align: middle;
    width: 100%;
}

/* Animation links */
header a {
    position: relative;
}

header a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 0;
    background: blue;
    transition: height 0.3s;
}

header a:hover::after {
    height: 4px;
}

header a::after {
    content: ' ';
    position: absolute;
    left: 0;
    width: 0;
    background: blue;
    transition: width 0.3s;
}

header a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

/* Main */

/* Jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    width: 100%;
}

.jumbotron {
    padding-top: 10px;
}

.jumbotron .content {
    margin-top: 40px;
}

section h1 {
    transform: translateY(100px);
    color: black;
    font-size: 80px;
    font-family: 'Archivo Black', Arial, sans-serif;
}

.jumbotron .colonne {
    display: flex;
    margin-top: 80px;
    align-content: flex-start;
    justify-content: center;
}

.jumbotron .col-left {
    padding-top: 80px;
}

.jumbotron .col-right>img {
    width: 100%;
    display: block;
    transform: translateY(80px);
}

.jumbotron .col-right {
    width: 200vw;
}

.jumbotron .arrow-down {
    font-size: 50px;
}

.box-btn {
    margin: 0 140px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-btn .btn {
    margin-top: 30px;
}

section .col-left .btn.transparent {
    text-align: left;
}

/* /Jumbotron */

/* Second Section */
.second-section {
    padding-top: 200px;
}

.second-section h2 {
    font-size: 40px;
    font-weight: bolder;
}

.second-section .input {
    padding: 50px 0;
    display: flex;
    gap: 50px;
}

/* Cards */
.second-section .card {
    border: 1px solid #d0d0d3;
    width: calc(29%);
    margin: 23px;
}

.second-section .card.last {
    flex-grow: 1;
}

.second-section .row.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -31px;
    font-size: 14px;
}

.second-section .card.last .center-card p {
    margin-top: 70px;
}

/* Inside Card */
.second-section .inside-card {
    padding: 30px;
}

.second-section .inside-card>div {
    padding-bottom: 10px;
}

.second-section .category {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px;
}

.card h3 {
    font-size: 25px;
    font-weight: 700px;
}

/* Parte superiore inside card*/
.card .start-card .mese {
    color: #d0d0d3;
}

.card.last .inside-card {
    display: flex;
    justify-content: space-between;
}

/* Parte centrale inside card */
.center-card .hr-sm {
    width: 15%;
    color: #fbfbfc;
    margin: 40px 0;
}

.user,
.storage,
.share {
    padding-right: 10px;
}

.description {
    display: flex;
    align-self: flex-start;
}

.description>span {
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
}

.description p {
    margin-bottom: 25px;
}

.start-card,
.center-card {
    line-height: 50px;
}

.card .center-card .btn.blue {
    width: 100%;
    margin: 20px 0px;
}

/* Parte finale Inside Card */
.end-card li {
    margin-top: 20px;
}

.card li::before {
    content: "\f00c";
    color: #0063ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-right: 5px;
}
/* /Seconda Section */

/* Terza Section */
.terza-section{
    margin-top: 150px;
    display: flex;
}

.terza-section img{
    width: 100%;
    display: block;
}
.terza-section .col-left{
    flex-grow: 2;
}
.terza-section .col-right{
    padding: 50px 0 0 50px;
    flex-shrink: 1.5;
}

.terza-section .col-right p{
    padding: 30px 0;
}
/* /Terza Section */
/* Quarta Section */
.quarta-section{
    margin-top: 150px;
}

.quarta-section h2{
    font-size: 40px;
}
.quarta-section h3{
    margin-bottom: 30px;
}
.quarta-section img{
    width: 100%;
}
.quarta-section .container-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 50px -31px;
    font-size: 15px;
}

.quarta-section .card{
    width: calc(29%);
    margin: 23px;
}

.quarta-section img{
    width: 100%;
}
/* /Quarta Section */
/* Footer */